body {
  background-color: #eeeeee;
}
#plansza {
	width: 550px;
	height: 550px;
	float: left;
	border: 1px solid red;
	position: relative;
}
#plotno, #plotno2 {
	position: absolute;
	left: 0; top: 0;	
	z-index: 0;
}
#plotno2 {		
	z-index: 1;
}

#panel{
	width: 250px;
	height: 550px;
	border: 1px solid green;
	float: left;
	position: relative;
	margin-left: 5px;
}
#kostka {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 1px solid green;
}


#panel > div#log {
    height: 380px;
    overflow: auto;
}

#entry {
  background-color: black;
  color: white;
  width: 100%;
}
#console {
 
  top: 20px;
  width: 98%;
  font-size: 14px;
}
.uname {
  font-weight: bold;
  color: green;
}
